@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Inter:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --thm-primary: #422AFB;
    --thm-dark: #1B254B;
    --thm-primary-medium: #7B5AFF;
    --light-grey: rgb(243 245 247/1);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

body .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px 30px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 28px;
}
.main-wrapper {
    background: #000;
    color: #fff;
    padding: 1.5rem 1.5rem 1.5rem 0;
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

.main-wrapper .sidebar-wrapper {
    width: 20rem;
    padding: 0px 1rem;
    position: fixed;
    z-index: 2;
    background: #000;
    max-width: 100vw;
    height: 100%;
    max-height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
}

.sidebar-menu-wrapper ul.menu a.menu-link svg.inline-block.fill-primary-tu {
    fill: #ff57dc;
}

.main-wrapper .sidebar-wrapper .sidebar-menu-wrapper {
    height: 100px;
    overflow: auto;
    flex-grow: 1;
    scrollbar-color: rgb(255 255 255 / 43%)transparent;
    scrollbar-width: thin;
}

.sidebar-menu-wrapper:hover {
    scrollbar-color: #fff transparent;
}

/* width */
.sidebar-menu-wrapper::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.sidebar-menu-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.sidebar-menu-wrapper::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 43%);
    border-radius: 12px;
    transition: all 0.3s;
}

/* Handle on hover */
.sidebar-menu-wrapper:hover::-webkit-scrollbar-thumb {
    background: #fff;
}

.main-wrapper .main-content-wrapper {
    margin-left: 20rem;
    background: #fdfeff;
    color: #000;
    border-radius: 1.25rem;
    overflow: hidden;
    padding: 2.5rem 1.5rem;
    /* transition: background 0.15s, color 0.15s; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    max-height: 100%;
}

.main-wrapper .main-content-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/chat-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20rem;
}

body .main-wrapper .main-content-wrapper>* {
    position: relative;
}

.main-wrapper .sidebar-wrapper .logo-wrapper {
    padding: 1rem 0.5rem 2rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.main-wrapper .sidebar-wrapper .logo-wrapper img {
    width: 190px;
    height: auto;
}

.main-wrapper .sidebar-wrapper .logo-wrapper .toggle {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    height: auto;
    cursor: pointer;
}

.main-wrapper .sidebar-wrapper .logo-wrapper .toggle svg {
    fill: #6c7275;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: linear;
    transition-duration: .2s;
}


.main-wrapper .sidebar-wrapper .logo-wrapper .toggle:active svg {
    fill: #e8ecef;
}

.sidebar-menu-wrapper ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-menu-wrapper ul.menu a.menu-link {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(232, 236, 239, .75);
    border-radius: 0.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: linear;
    transition-duration: .2s;
}

.sidebar-menu-wrapper ul.menu a.menu-link svg.inline-block {
    fill: #3e90f0;
}

ul.menu a.menu-link svg.inline-block.fill-primary-2 {
    fill: #3fdd78;
}

.sidebar-menu-wrapper ul.menu a.menu-link svg.inline-block.fill-accent-4 {
    fill: #8c6584;
}

.sidebar-menu-wrapper ul.menu a.menu-link svg.inline-block.fill-accent-1 {
    fill: #d84c10;
}

.sidebar-menu-wrapper ul.menu a.menu-link svg.inline-block.fill-accent-3 {
    fill: #8e55ea;
}

.sidebar-menu-wrapper ul.menu a.menu-link span.menu-text {
    margin-left: 1.25rem;
}

.sidebar-menu-wrapper ul.menu a.menu-link.active {
    background: rgb(50 51 55 / 95%);
    color: #fff;
}


.sidebar-menu-wrapper ul.menu a.menu-link:active {
    color: #fff;
}

.main-content-wrapper .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header-search {
    position: relative;
    background: white;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(112, 144, 176, 0.18) 12px 0px 25px 7px;
    display: flex;
    align-items: center;
}

.header-search .header-search-inner span.search-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    display: inline-block;
}

.header-search .header-search-inner input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #F4F7FE;
    border: none;
    padding: 11px 16px 11px 40px;
    border-radius: 30px;
    color: #2D3748;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 220px;
}

.header-search .header-search-inner span.search-icon svg {
    vertical-align: top;
}

.chat-wrapper {
    height: 80px;
    flex-grow: 1;
    padding: 30px;
    overflow: auto;
    scrollbar-color: rgb(202 202 255 / 43%) transparent;
    scrollbar-width: thin;
    transition: all 0.3s;
}

.chat-wrapper:hover {
    scrollbar-color: #CACAFF transparent;
}

/* width */
.chat-wrapper::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chat-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.chat-wrapper::-webkit-scrollbar-thumb {
    background: rgb(202 202 255 / 43%);
    border-radius: 12px;
    transition: all 0.3s;
}

/* Handle on hover */
.chat-wrapper:hover::-webkit-scrollbar-thumb {
    background: #CACAFF;
}

.chat-footer .message-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 8px;
    padding: 16px 80px 16px 30px;
    background: #fdfeff;
    vertical-align: middle;
}

.chat-footer .message-wrapper #type-message {
    width: 100%;
    resize: none;
    background: transparent;
    color: #1B254B;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'Plus Jakarta Sans', sans-serif;
    vertical-align: middle;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0px 10px 0px 0;
    overflow: auto;
    transition: all 0.2s;
    max-height: 130px;
}

.chat-footer .message-wrapper #type-message {
    scrollbar-color: rgb(202 202 255 / 43%) transparent;
    scrollbar-width: thin;
}

.chat-footer .message-wrapper #type-message:hover {
    scrollbar-color: #CACAFF transparent;
}

/* width */
.chat-footer .message-wrapper #type-message::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chat-footer .message-wrapper #type-message::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.chat-footer .message-wrapper #type-message::-webkit-scrollbar-thumb {
    background: rgb(202 202 255 / 43%);
    border-radius: 12px;
    transition: all 0.3s;
}

/* Handle on hover */
.chat-footer .message-wrapper #type-message:hover::-webkit-scrollbar-thumb {
    background: #CACAFF;
}

.btn {
    background: #eee;
    border: 1px solid #000;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: linear;
    transition-duration: .2s;
}

.chat-footer .message-wrapper button#send-message {
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(15.46deg, #4A25E1 26.3%, #7B5AFF 86.4%);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px;
}

.chat-footer .message-wrapper button#send-message svg path {
    fill: currentColor;
}


.chat-footer .message-wrapper button#send-message:active {
    box-shadow: 0px 21px 27px -10px rgba(96, 60, 255, 0.48) !important;
    background: linear-gradient(15.46deg, #4A25E1 26.3%, #7B5AFF 86.4%) !important;
}

.header-title-wrapper .title {
    margin: 0;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.start-chat-cat {
    min-height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.cat-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.cat-list .cat-item {
    flex: 0 0 50%;
    width: 50%;
    margin-bottom: 30px;
    padding: 0 20px;
}

.cat-list .cat-item .cat-link {
    height: 70px;
    box-shadow: 14px 27px 45px rgba(112, 144, 176, 0.2);
    border-radius: 14px;
    color: var(--thm-dark);
    font-size: 18px;
    font-weight: 700;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: white;
    position: relative;
    overflow: hidden;
}

.cat-list .cat-item .cat-link:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: #F4F7FE;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

.cat-list .cat-item .cat-link:active:before {
    width: 100%;
    height: 100%;
}

.cat-list .cat-item .cat-link span.icon-wrapper {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FBFBFF 0%, #CACAFF 100%);
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    height: 39px;
    width: 39px;
    color: var(--thm-primary);
}

.cat-list .cat-item .cat-link span {
    position: relative;
}

.main-wrapper .main-content-wrapper .chat-footer {
    padding: 0 30px;
}

.user-profile-wrapper {
    position: relative;
}

.user-profile-wrapper button.user-drop-toggle {
    color: white;
    background: rgb(17, 4, 122);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

.user-profile-wrapper button.user-drop-toggle img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.admin-name p {
    margin: 0;
    font-size: 0.86rem;
    font-weight: 700;
    line-height: 1;
    padding: 0px 15px 0 10px;
}
.header-search-inner {
    position: relative;
    flex-grow: 1;
}

.dropdown {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: max-content;
    min-width: 14rem;
    outline: transparent solid 2px;
    outline-offset: 2px;
    background: white;
    border: 1px solid #fff;
    color: rgb(26, 32, 44);
    box-shadow: rgba(112, 144, 176, 0.18) 14px 17px 40px 4px;
    color: inherit;
    z-index: 1;
    border-radius: 20px;
    padding: 0px;
    margin-top: 10px;
    display: none;
}

.dropdown .dropdown-head {
    padding: 16px 20px 12px;
    width: 100%;
    border-bottom: 1px solid rgb(230, 236, 250);
    border-top-color: rgb(230, 236, 250);
    border-right-color: rgb(230, 236, 250);
    border-left-color: rgb(230, 236, 250);
    font-size: var(--chakra-fontSizes-sm);
    font-weight: 700;
    color: var(--chakra-colors-navy-700);
}

.dropdown .dropdown-head p {
    margin: 0;
    font-size: 0.86rem;
    font-weight: 700;
    line-height: 1.8;
}

.dropdown ul.dropdown-list {
    padding: 10px;
    margin: 0;
    list-style: none;
}

.dropdown ul.dropdown-list .dropdown-item a {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
}

button.theme-toggle {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    color: #718096;
}

button.theme-toggle svg {
    color: #718096;
    width: 18px;
    height: 18px;
}

.header-search button.theme-toggle {
    margin-right: 6px;
}

.header-search .user-profile-wrapper {
    margin-left: 6px;
}

/*Sidebar Toggle**/
.sidebar-wrapper.sidebar-sm {
    width: 6rem;
}

.sidebar-wrapper.sidebar-sm .logo-wrapper img {
    display: none;
}

.sidebar-wrapper.sidebar-sm .sidebar-menu-wrapper {
    padding: 0 0.5rem;
}

.sidebar-wrapper.sidebar-sm .sidebar-menu-wrapper span.menu-text {
    display: none;
}

.sidebar-wrapper.sidebar-sm .sidebar-menu-wrapper a.menu-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.sidebar-wrapper.sidebar-sm .logo-wrapper {
    justify-content: center;
}

.sidebar-wrapper.sidebar-sm .logo-wrapper .toggle svg {
    fill: #e8ecef;
}

.main-wrapper .main-content-wrapper.main-100 {
    margin-left: 6rem;
}

body .btn-menu-toggle {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.btn-menu-toggle .bar {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .2s;
    display: inline-block;
    background: rgb(20 23 24);
    width: 1.25rem;
    height: .125rem;
    margin-top: .125rem;
    margin-bottom: .125rem;
}

.main-wrapper.menu-active .btn-menu-toggle .bar-1 {
    transform: translate(0, 0.1875rem) rotate(45deg);
}

.main-wrapper.menu-active .btn-menu-toggle .bar-2 {
    transform: translate(0, -0.1875rem) rotate(-45deg);
}

.user-question {
    background: var(--light-grey);
    border-radius: 1.25rem;
    padding: 1.1rem 1.5rem;
    position: relative;
    margin-bottom: 50px;
}

.user-question .user-other-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: -2.4rem;
}

.user-question .user-other-info .query-time {
    margin: 0;
    font-size: 14px;
}

.user-question .user-other-info .user-thumb {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-question .user-other-info .user-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-question .question {
    padding: 0;
    margin: 0.7rem 0;
    font-weight: 600;
    word-break: break-word;
}

.query-detail-wrapper {
    border: .1875rem solid var(--light-grey);
    border-radius: 1.25rem;
    padding: 1rem 1.5rem;
    margin-bottom: 5rem;
}

.query-detail-wrapper:last-child {
    margin-bottom: 2rem;
}

.query-detail-wrapper .other-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: -2.4rem;
    margin-top: 14px;
}

.query-detail-wrapper .other-info .chat-logo {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.query-detail-wrapper .other-info .chat-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.query-detail-wrapper .query-text-wrapper {
    margin: 0.5rem 0 1rem;
}

.query-detail-wrapper .query-text-wrapper .query {
    position: relative;
    font-size: 16px;
    line-height: 1.7;
}

.query-detail-wrapper .query-text-wrapper .query.typing::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 17px;
    background: #000;
    margin-left: 3px;
    margin-bottom: -1px;
    animation-name: fadeInOut;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.query-text-wrapper .query-placeholder .dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: rgb(20 23 24/1);
    border-radius: 10px;
    margin-left: 5px;
    animation: loaderDots .6s 0s infinite alternate;
    --loding-opc: 0.15;
}

.query-text-wrapper .query-placeholder .dot.dot-2 {
    animation: loaderDots .6s .3s infinite alternate;
}

.query-text-wrapper .query-placeholder .dot.dot-3 {
    animation: loaderDots .6s .6s infinite alternate;
}

.query-placeholder {
    display: flex;
}

.query-detail-wrapper .query-text-wrapper .query.typing::after {
    /* animation: none; */
}

.query-text-wrapper .query-placeholder .dot.dot-1 {
    margin: 0;
}

@keyframes loaderDots {
    0% {
        opacity: 1
    }

    50%,
    to {
        opacity: var(--loding-opc)
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*Sidebar toggle end**/
/*Authentication Pages**/
/* .authentication-anchor {display: flex;justify-content: center;align-items: center;height: 100%;} */
.authentication-anchor {
    padding: 20px 0;
}

.authentication-anchor ul.auth-cta {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-anchor ul.auth-cta li.auth-cta-item.active a {
    height: 70px;
    box-shadow: 14px 27px 45px rgba(112, 144, 176, 0.2);
    border-radius: 14px;
    color: var(--thm-dark);
    font-size: 18px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: white;
    position: relative;
    overflow: hidden;
}

.authentication-anchor ul.auth-cta span.icon-wrapper {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FBFBFF 0%, #CACAFF 100%);
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    height: 39px;
    width: 39px;
    color: var(--thm-primary);
}

.authentication-anchor ul.auth-cta li.auth-cta-item a {
    height: 70px;
    font-size: 18px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    color: var(--thm-dark);
    padding: 10px 25px;
}

.authentication-page {
    background-color: #000;
    color: #fff;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.authentication-page .authentication-col:first-child {
    width: 46%;
    flex: 0 0 46%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.authentication-page .authentication-form {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.authentication-page .authentication-col:last-child {
    width: 54%;
    flex: 0 0 54%;
}

.authentication-page .authntication-thumb {
    width: 100%;
    position: relative;
    padding-bottom: 54%;
    /* flex-grow: 1; */
    max-height: 550px;
}

.authentication-page .authntication-thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.authentication-page .left-content {
    padding: 40px 40px;
    max-width: 420px;
}

.authentication-page .left-content h1 {
    font-size: 36px;
    margin-bottom: 14px;
}
.authentication-page .authentication-form h4 {
    font-size: 28px;
    margin: 0 0 20px;
}
.authentication-page .authentication-form form .error:empty {
    display: none;
}
.authentication-page .left-content p {
    font-size: 15px;
    color: #ffffffd6;
    margin-bottom: 20px;
}

.authentication-inner-wrapper {
    background-color: #fff;
    color: #000;
    height: 100%;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-form ul.nav.nav-pills {
    background: rgb(243 245 247/1);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 11px;
    padding: 5px 5px;
    margin-bottom: 30px;
}

.authentication-form ul.nav.nav-pills li.nav-item {
    width: 50%;
    flex: 0 0 50%;
}

.authentication-form ul.nav.nav-pills li.nav-item a.nav-link {
    color: rgb(20 23 24/1);
    font-size: 14px;
    font-weight: 600;
}

.authentication-form ul.nav.nav-pills li.nav-item a.nav-link.active {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 3px 2px #00000008;
}

.authentication-page .authentication-form .logo {
    margin-bottom: 26px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-wrapper input {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: linear;
    transition-duration: .2s;
    color: rgb(20 23 24/1);
    padding: 14px .875rem;
    background-color: rgb(243 245 247/1);
    width: 100%;
    font-size: 14px;
    border-radius: .75rem;
    border-color: rgb(243 245 247/1);
    border-width: 2px;
    border-style: solid;
    outline: none;
}

.authentication-page .authentication-form .tab-pane {
    padding: 0 0;
}

.authentication-page .authentication-form .input-wrapper svg {
    position: absolute;
    top: 15px;
    left: 15px;
    fill: hsla(200, 4%, 44%, .5);
    width: 22px;
    height: 22px;
}

.authentication-page .authentication-form .input-wrapper input {
    padding-left: 3.125rem;
}

body .btn.btn-primary {
    background: var(--thm-primary);
    border-color: var(--thm-primary);
    color: #fff;
}

.authentication-page .authentication-form button.btn-primary {
    width: 100%;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.authentication-page .authentication-form form>p {
    font-size: 13px;
}

body .btn.btn-primary:hover {
    background: #2614ad;
    border-color: #2614ad;
}

.input-wrapper input:focus {
    background: #fff;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-wrapper label.error {
    font-size: 14px;
    text-align: left;
    width: 100%;
    color: #f00;
    letter-spacing: 0.5px;
}

/*Authentication Pages End**/
/****Tutor Page*****/
.main-content-wrapper.bg-none::before {
    content: none;
}

.tutor-thumb {
    background: #E9E3FF;
    margin: -2.5rem -1.5rem -2.5rem 0;
    text-align: center;
    padding: 2.5rem 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: calc(100% + 5rem);
    flex-wrap: wrap;
    flex-direction: column;
}

.tutor-thumb img {
    width: 420px;
}

.tutor-thumb img::-moz-selection { /* Code for Firefox */
  color: transparent;
  background: transparent;
}

.tutor-thumb img::selection {
  color: transparent;
  background: transparent;
}
.tutor-detail-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-left: 1rem;
    max-height: 100%;
    overflow: auto;
}

.tutor-detail-wrapper .tutor-detail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
}
.tutor-detail-wrapper .tutor-detail .btn.btn-primary {
    padding: 8px 32px;
}
.tutor-detail-footer p {
    margin: 0;
}


.btn.btn-primary {
    background: linear-gradient(15.46deg, #4A25E1 26.3%, #7B5AFF 86.4%);
}

.tutor-detail-wrapper .tutor-detail .sub-title {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
}

.tutor-detail-wrapper .tutor-detail h1 {
    font-size: 38px;
    margin-bottom: 24px;
}

.tutor-main {
    min-height: 100%;
    max-height: 100%;
}
.chapter-progess-wrapper .progress {
    width: 100%;
    border-radius: 22px;
    margin-right: 17px;
    height: 16px;
}

.chapter-progess-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-right: 50px;
    margin-bottom: 25px;
    font-weight: 500;
}

.progress-bar {
    background-color: var(--thm-primary);
    width: 8px;
    transition: width 2s ease;
}

.tutor-thumb.timeline {
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 100%;
    padding-bottom: 30px;
}
.tutor-thumb.timeline > button.btn.btn-none {
    padding: 0;
    margin: 0 0 12px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.tutor-thumb.timeline .tutor-timeline {
    height: 250px;
    overflow: auto;
    flex-grow: 1;
    padding-right: 10px;
}

.tutor-column {max-height: 100%;}


.tutor-timeline {
    width: 100%;
}

.tutor-timeline .top-head {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.tutor-timeline .timeline-item {padding-left: 55px;text-align: left;margin-bottom: 34px;position: relative;}

.tutor-timeline .timeline-item:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: var(--thm-primary);
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

.timeline-list {
    position: relative;
    margin: 0 20px;
}

.timeline-list:before {
    content: "";
    position: absolute;
    top: 19px;
    left: 14px;
    width: 4px;
    height: calc(100% - 50px);
    background: #422afb70;
}

.tutor-timeline .timeline-item .chapter-name {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tutor-timeline .timeline-item span.progress {
    height: 12px;
    border-radius: 26px;
}

.tutor-thumb, .tutor-detail-wrapper, .tutor-timeline {
    scrollbar-color: #422afb5d transparent;
    scrollbar-width: thin;
}

.tutor-thumb:hover, .tutor-detail-wrapper:hover, .tutor-timeline:hover {
    scrollbar-color: var(--thm-primary) transparent;
}

/* width */
.tutor-thumb::-webkit-scrollbar, .tutor-detail-wrapper::-webkit-scrollbar, .tutor-timeline::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.tutor-thumb::-webkit-scrollbar-track, .tutor-detail-wrapper::-webkit-scrollbar-track, .tutor-timeline::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.tutor-thumb::-webkit-scrollbar-thumb, .tutor-detail-wrapper::-webkit-scrollbar-thumb, .tutor-timeline::-webkit-scrollbar-thumb {
    background: #422afb5d;
    border-radius: 12px;
    transition: all 0.3s;
}

/* Handle on hover */
.tutor-thumb:hover::-webkit-scrollbar-thumb, .tutor-detail-wrapper:hover::-webkit-scrollbar-thumb, .tutor-timeline:hover::-webkit-scrollbar-thumb {
    background: var(--thm-primary);
}
.timeline-item.complete::before {
    background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' width='24' height='24' fill='%23fff' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1002.81 144.43a64 64 0 0 0-90.38 4.76L381.56 739l-272.3-272.3a64 64 0 0 0-90.51 90.51l320 320A64 64 0 0 0 384 896h1.68a64 64 0 0 0 45.89-21.16l576-640a64 64 0 0 0-4.76-90.41z' /%3E%3C/svg%3E");
    background-color: var(--bs-success);
}
.timeline-item.in-progress::before {
    background-color: var(--bs-warning);
    background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' width='24' height='24' fill='%23fff' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M359.850667 726.016c22.058667-23.466667 105.045333-93.141333 106.112-94.037333a46.293333 46.293333 0 0 1 60.074666 0c1.066667 0.896 84.053333 70.570667 106.112 94.037333l0.725334 0.768a24.533333 24.533333 0 0 1-18.133334 41.216H377.258667a24.533333 24.533333 0 0 1-18.133334-41.216l0.725334-0.768z m249.386666-229.248a29.013333 29.013333 0 0 0-10.325333 21.76 29.013333 29.013333 0 0 0 10.325333 21.76c7.168 6.186667 15.402667 13.056 24.149334 20.352 28.288 23.552 63.488 52.864 91.562666 84.394667a28.757333 28.757333 0 0 1-2.432 40.704 29.098667 29.098667 0 0 1-40.96-2.432c-25.173333-28.330667-57.173333-54.954667-85.376-78.421334-8.96-7.466667-17.408-14.506667-25.002666-21.077333-19.2-16.64-30.250667-40.448-30.250667-65.28 0-24.874667 11.008-48.64 30.293333-65.28 7.253333-6.314667 15.36-13.098667 23.893334-20.224 46.933333-39.296 125.568-105.045333 125.568-152.448V235.861333a28.970667 28.970667 0 0 0-29.013334-28.842666H300.288a28.970667 28.970667 0 0 0-29.013333 28.842666v44.714667c0 47.402667 78.634667 113.152 125.610666 152.448 8.533333 7.125333 16.64 13.909333 23.893334 20.181333 19.242667 16.64 30.293333 40.448 30.293333 65.28 0 24.874667-11.050667 48.682667-30.293333 65.322667-7.253333 6.314667-15.36 13.056-23.893334 20.224-46.933333 39.253333-125.568 105.002667-125.568 152.448v44.714667c0 15.872 13.013333 28.842667 29.013334 28.842666h391.338666c16 0 29.013333-12.970667 29.013334-28.842666 0-15.957333 12.970667-28.842667 29.013333-28.842667 15.957333 0 28.970667 12.885333 28.970667 28.842667a86.869333 86.869333 0 0 1-86.997334 86.528H300.288A86.869333 86.869333 0 0 1 213.333333 801.194667V756.48c0-74.325333 84.48-144.981333 146.218667-196.608 8.362667-6.997333 16.298667-13.610667 23.210667-19.584a29.013333 29.013333 0 0 0 10.325333-21.76 29.013333 29.013333 0 0 0-10.325333-21.76c-6.912-5.973333-14.848-12.629333-23.210667-19.626667C297.856 425.514667 213.333333 354.858667 213.333333 280.576V235.861333C213.333333 188.16 252.330667 149.333333 300.288 149.333333h391.381333c47.957333 0 86.997333 38.826667 86.997334 86.528v44.714667c0 74.282667-84.522667 144.981333-146.261334 196.565333-8.362667 6.997333-16.256 13.653333-23.168 19.626667z m-81.92-80.298667c-17.194667 14.933333-42.538667 14.933333-59.733333 0-0.554667-0.426667-20.778667-17.749333-43.818667-38.016-18.048-15.914667-6.954667-45.952 16.981334-45.952h113.365333c23.936 0 35.072 30.037333 17.024 45.952-23.04 20.266667-43.306667 37.546667-43.818667 37.973334z' /%3E%3C/svg%3E");
    background-size: 22px;
}
.timeline-item.pending::before {
    background-color: var(--bs-light);
    background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' width='24' height='24' fill='%23000' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M786.522 420.962L600.654 235.093c-38.495-38.495-100.907-38.494-139.401 0L96.63 599.716a99.112 99.112 0 0 0-10.817 12.86c-12.709 14.27-20.462 33.253-20.462 54.093v214.083c0 44.338 35.083 80.281 78.36 80.281H352.67c23.102 0 43.865-10.247 58.206-26.542a99.352 99.352 0 0 0 11.023-9.506l364.622-364.622c38.495-38.495 38.495-100.907 0.001-139.401zM368.319 851.287a60.38 60.38 0 0 1-6.71 5.786c-8.73 9.919-21.368 16.156-35.43 16.156H198.987c-26.342 0-47.697-21.878-47.697-48.867V694.051c0-12.685 4.719-24.24 12.455-32.926a60.273 60.273 0 0 1 6.584-7.828l318.198-318.198c23.431-23.431 61.421-23.432 84.853 0l113.137 113.137c23.431 23.431 23.431 61.421 0 84.853L368.319 851.287zM941.075 320.957L700.659 80.54c-23.431-23.431-61.421-23.431-84.853 0l-14.142 14.142c-23.432 23.432-23.431 61.421 0 84.853L842.08 419.951c23.431 23.431 61.421 23.432 84.853 0l14.142-14.142c23.432-23.431 23.432-61.421 0-84.852z'/%3E%3C/svg%3E");
    background-size: 16px;
}   


.chapter-detail-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    perspective: 600vw;
}

.chapter-detail-wrapper .chapter-detail-footer {
    min-height: auto;
    height: auto;
    flex-grow: 0;
    padding: 20px 0 0;
}
.chapter-detail-wrapper .chapter-content-wrapper {
    height: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    /* box-shadow: 0 0 16px -1px rgb(0 0 0 / 10%); */
    background: #fdfeff;
    /* overflow: hidden; */
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.chapter-detail {
    /* flex-grow: 1; */
    /* height: 300px; */
    overflow: auto;
    line-height: 1.8;
    scrollbar-color: #e9e3ff69 transparent;
    scrollbar-width: thin;
    position: relative;
    padding-right: 10px;
}
.chapter-detail-wrapper .chapter-content-wrapper .chapter-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transition: transform 1s linear , opacity 0.5s linear;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    user-select: none;
    border-radius: 12px;
    background: #fdfeff;
    padding: 20px 20px;
    box-shadow: 0 0 22px -1px rgb(0 0 0 / 8%);
    opacity: 0;
}
.chapter-detail-wrapper .chapter-content-wrapper .chapter-detail.active {
    opacity: 1;
}
.chapter-detail-wrapper .chapter-content-wrapper .chapter-detail:first-child {
    opacity: 1 !important;
}
.chapter-detail-wrapper .chapter-content-wrapper .chapter-detail.flipped {
    pointer-events: all;
    transform: rotateY(-90deg);
}
.chapter-detail h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}
.chapter-description {
    position: relative;
    font-size: 16px;
    line-height: 1.8;
}

.chapter-description:after {
    display: inline-block;
    width: 7px;
    height: 17px;
    background: #000;
    margin-left: 3px;
    margin-bottom: -1px;
    animation-name: fadeInOut;
    animation-duration: 0.9s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.chapter-detail h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
.chapter-thumb-list {
    position: relative;
    flex-grow: 1;
    height: 100px;
    width: 100%;
}

.chapter-thumb-list .chapter-thumb-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chapter-thumb-list .chapter-thumb-item:not(:first-child) {
    display: none;
}

.chapter-thumb-list .chapter-thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    padding: 0 10px;
}
.btn.btn-primary-outline {
    border-color: var(--thm-primary);
    color: var(--thm-primary);
}

.chapter-detail-wrapper .chapter-detail-footer button.btn.btn-primary {
    margin-right: 14px;
}
.chapter-detail-wrapper .chapter-detail-footer button.btn {
    text-transform: capitalize;
    box-shadow: none;
}

.btn.btn-primary-outline:hover {
    background-color: var(--thm-primary);
    color: #fff;
}

body .btn.btn-primary-outline:active {
    background: #2614ad;
    border-color: #2614ad;
    color: #fff;
}

.chapter-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-self: flex-start;
    margin-bottom: 10px;
}

.chapter-nav .btn svg {
    width: 20px;
    height: 20px;
}

.chapter-nav button.btn {
    padding: 3px;
    border: 1px solid var(--thm-primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--thm-primary);
    box-shadow: none;
}

.chapter-nav button.btn.btn-prev {
    margin-right: 10px;
}

.chapter-nav button.btn:hover {
    background: var(--thm-primary);
    color: #fff;
}

.chapter-detail:hover {
    scrollbar-color: #E9E3FF transparent;
}

/* width */
.chapter-detail::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chapter-detail::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.chapter-detail::-webkit-scrollbar-thumb {
    background: #e9e3ff69;
    border-radius: 12px;
    transition: all 0.3s;
}

.chapter-detail:hover::-webkit-scrollbar-thumb {
    background: #E9E3FF;
}

.tutor-subject {
    padding-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-content-wrapper .tutor-main .chat-header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 12px;
}
.tutor-subject .logo {
    /* margin-bottom: 10px; */
}
.tutor-subject .tutor-subject-wrapper .cat-list {
    margin: auto;
}
.tutor-subject .cat-list .cat-item {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
    padding: 0;
}
.tutor-subject .cat-list .cat-item .cat-link {
    box-shadow: 6px 10px 18px rgba(112, 144, 176, 0.18);
    height: 56px;
    font-size: 16px;
}

.tutor-subject .tutor-subject-wrapper {
    scrollbar-color: #e9e3ff69 transparent;
    scrollbar-width: thin;
    padding: 12px 0;
    height: 100px;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0 -20px;
    padding: 4px 20px;
}
.tutor-subject .tutor-subject-wrapper:hover {
    scrollbar-color: #E9E3FF transparent;
}

/* width */
.tutor-subject .tutor-subject-wrapper::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.tutor-subject .tutor-subject-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.tutor-subject .tutor-subject-wrapper::-webkit-scrollbar-thumb {
    background: #e9e3ff69;
    border-radius: 12px;
    transition: all 0.3s;
}

.tutor-subject .tutor-subject-wrapper:hover::-webkit-scrollbar-thumb {
    background: #E9E3FF;
}
.tutor-detail-sec .tutor-thumb {
    background: transparent;
}
/****Tutor Page End*****/
/**Date Picker***/
.datepicker-dropdown::before {
    content: none !important;
}

.datepicker-dropdown::after {
    content: none !important;
}

.datepicker.datepicker-dropdown {
    border-color: rgb(243 245 247/1);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 8px;
    min-width: 280px;
}

body .datepicker-dropdown table thead th.prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.70689 0.292985C7.87907 0.465178 7.9825 0.694277 7.99778 0.937303C8.01306 1.18033 7.93915 1.42058 7.7899 1.61298L7.70689 1.70698L2.4149 6.99998L7.70689 12.293C7.87907 12.4652 7.9825 12.6943 7.99778 12.9373C8.01306 13.1803 7.93915 13.4206 7.7899 13.613L7.70689 13.707C7.5347 13.8792 7.3056 13.9826 7.06258 13.9979C6.81955 14.0132 6.5793 13.9392 6.3869 13.79L6.2929 13.707L0.292896 7.70698C0.120719 7.53479 0.0172882 7.30569 0.00200701 7.06267C-0.0132742 6.81964 0.0606443 6.57939 0.209896 6.38698L0.292896 6.29298L6.2929 0.292985C6.48042 0.105514 6.73473 0.000198364 6.9999 0.000198364C7.26506 0.000198364 7.51937 0.105514 7.70689 0.292985Z' fill='black'/%3E%3C/svg%3E%0A") !important;
    font-size: 0 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 7px !important;
}

.datepicker-dropdown thead th.next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 13.7071C0.120715 13.5349 0.0172839 13.3058 0.00200274 13.0627C-0.0132784 12.8197 0.06064 12.5795 0.209891 12.3871L0.292892 12.2931L5.58489 7.00006L0.292892 1.70706C0.120715 1.53487 0.0172839 1.30577 0.00200274 1.06274C-0.0132784 0.819717 0.06064 0.579465 0.209891 0.387061L0.292892 0.293061C0.465084 0.120884 0.694184 0.0174545 0.93721 0.0021733C1.18024 -0.0131079 1.42049 0.0608097 1.61289 0.210061L1.70689 0.293061L7.70689 6.29306C7.87907 6.46525 7.9825 6.69435 7.99778 6.93738C8.01306 7.18041 7.93914 7.42066 7.78989 7.61306L7.70689 7.70706L1.70689 13.7071C1.51936 13.8945 1.26506 13.9998 0.999891 13.9998C0.734727 13.9998 0.480419 13.8945 0.292892 13.7071Z' fill='black'/%3E%3C/svg%3E%0A") !important;
    font-size: 0 !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 7px !important;
}

.datepicker.datepicker-dropdown table {
    width: 100%;
}

.datepicker-dropdown thead th.datepicker-switch {
    font-size: 16px;
}

.datepicker-dropdown thead th.datepicker-switch:hover,
.datepicker-dropdown thead th.prev:hover,
.datepicker-dropdown thead th.next:hover {
    background: rgb(243 245 247/1);
}

.datepicker-dropdown thead th.datepicker-switch,
.datepicker-dropdown thead th.prev,
.datepicker-dropdown thead th.next {
    transition: background-color linear 0.15s;
    height: 34px;
}

.datepicker-dropdown thead th.dow {
    font-size: 14px;
    padding: 10px 0 6px;
}

.datepicker-dropdown .datepicker-days tbody td.day {
    font-size: 13px;
    transition: all linear 0.1s;
    padding: 6px 6px;
}

.datepicker-dropdown .datepicker-days tbody td.day:hover {
    background: rgb(243 245 247/1);
}

.datepicker-dropdown .datepicker-days tbody td.active.day {
    background: var(--thm-primary) !important;
    color: #fff !important;
}

.datepicker.datepicker-dropdown>div:not(.datepicker-days) tbody td {
    padding-top: 10px;
}

.datepicker.datepicker-dropdown>div:not(.datepicker-days) tbody span {
    font-size: 14px;
}

.datepicker.datepicker-dropdown>div:not(.datepicker-days) tbody span:hover {
    background: rgb(243 245 247/1);
}

.datepicker.datepicker-dropdown>div:not(.datepicker-days) tbody span.active {
    background: var(--thm-primary) !important;
    color: #fff;
}

/**Date picker End***/
/**Theme Dark***/
body.thm-dark .main-wrapper .main-content-wrapper {
    color: #fff;
    background: #0b1437;
}

body.thm-dark .header-search {
    background: #111c44;
    border-color: #ffffff26;
}

body.thm-dark .header-search input[type="search"] {
    background: #0b1437;
    color: #fff;
}

body.thm-dark .header-search .dropdown {
    background: #111c44;
    box-shadow: rgba(255, 255, 255, 0.1) 4px 0 20px 4px;
    border-color: #ffffff26;
}

body.thm-dark .header-search button.theme-toggle svg {
    color: #fff;
}

body.thm-dark .authentication-anchor ul.auth-cta li.auth-cta-item.active a {
    background-color: rgba(255, 255, 255, 0.12);
}

body.thm-dark .authentication-anchor ul.auth-cta li.auth-cta-item a {
    color: #fff;
}

body.thm-dark .authentication-anchor ul.auth-cta li.auth-cta-item .icon-wrapper {
    background: rgba(255, 255, 255, 0.12);
    color: #fff;
}

body.thm-dark .dropdown .dropdown-head {
    border-color: rgba(135, 140, 189, 0.3);
}

body.thm-dark .cat-list .cat-item .cat-link {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 14px 3px 45px rgba(112, 144, 176, 0.15);
}

body.thm-dark .cat-list .cat-item .cat-link .icon-wrapper {
    background: rgba(255, 255, 255, 0.12);
    color: #fff;
}

body.thm-dark .cat-list .cat-item .cat-link::before {
    background: rgba(255, 255, 255, 0.1);
}

body.thm-dark .chat-footer .message-wrapper {
    background: #111c44;
    border-color: #ffffff26;
}

body.thm-dark .chat-footer .message-wrapper textarea {
    color: #fff !important;
}

body.thm-dark .main-wrapper .main-content-wrapper:before {
    opacity: 0.7;
}
body.thm-dark .user-question .question {
    /* color: #000; */
}
body.thm-dark .user-question {
    background-color: rgb(243 245 247 / 50%);
}

body.thm-dark  .query-detail-wrapper {
    border-color: rgb(243 245 247 / 50%);
}
body.thm-dark span.dot {
    background-color: #fff !important;
--loding-opc: 0.35 !important;
}
.sidebar-wrapper .btn-menu-toggle {
    display: none;
}
.admin-name {
    flex-grow: 1;
}
.thm-dark .btn-menu-toggle .bar {
    background-color: #fff;
}
.thm-dark .query-detail-wrapper .query-text-wrapper .query.typing::after {
    background: #fff;
}
/**Theme Dark End**/
/*Media Query**/
@media(min-width: 992px) {
    .chat-footer .message-wrapper button#send-message:hover {
        box-shadow: 0px 21px 27px -10px rgba(96, 60, 255, 0.48) !important;
        background: linear-gradient(15.46deg, #4A25E1 26.3%, #7B5AFF 86.4%) !important;
    }

    .sidebar-menu-wrapper ul.menu a.menu-link:hover {
        color: #fff;
    }

    .main-wrapper .sidebar-wrapper .logo-wrapper .toggle:hover svg {
        fill: #e8ecef;
    }

    .cat-list .cat-item .cat-link:hover:before {
        width: 100%;
        height: 100%;
    }
}

@media(min-width:768px) {
    body .d-md-none {
        display: none;
    }
}

@media(max-width:1180px) {
    body .main-wrapper .main-content-wrapper {
        margin-left: 6rem;
    }

    .sidebar-wrapper {
        width: 6rem;
    }
    
    .chapter-thumb-list .chapter-thumb-item img {
        object-position: center;
        padding: 0;
    }

    .tutor-detail-sec .tutor-thumb {
        padding: 2.5rem 1.5rem 0 0rem;
    }
}

@media(max-width:991px) {

    .authentication-page .authentication-col:first-child,
    .authentication-page .authentication-col:last-child {
        width: 100%;
        flex: 0 0 100%;
    }

    .authentication-page .authntication-thumb {
        display: none;
    }

    .authentication-page .left-content {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .tutor-timeline .timeline-item .chapter-name {flex-wrap: wrap;column-gap: 8px;}

.timeline-list {
    margin: 0;
}
}

@media(max-width:767px) {
    .main-wrapper .main-content-wrapper .chat-footer {
        padding: 0 0;
    }
    .user-question {
        padding: 10px 14px;
        margin-bottom: 42px;
    }
    
    .user-question .question {
        font-size: 14px;
        margin-bottom: 6px;
    }
    
    .user-question .user-other-info {
        margin-bottom: -2rem;
    }
    
    .query-detail-wrapper {
        padding: 10px 14px;
    }
    
    .query-detail-wrapper .query-text-wrapper .query {
        font-size: 14px;
    }
    
    .query-detail-wrapper .query-text-wrapper {
        margin: 4px 0 1rem;
    }
    .query-detail-wrapper .query-text-wrapper .query-placeholder {
        margin-top: 8px;
        margin-bottom: 4px;
    }
    body .main-wrapper .main-content-wrapper {
        margin-left: 0 !important;
        border-radius: 0;
    }

    .chat-footer .message-wrapper {
        padding: 16px 65px 16px 20px;
    }

    .main-wrapper {
        padding: 0;
        background: #fdfeff;
    }

    .main-wrapper .sidebar-wrapper {
        transform: translateX(-100%);
        transition-property: unset;
        transition-timing-function: linear;
        transition-duration: 0s;
    }

    .main-wrapper.menu-active .sidebar-wrapper {
        transform: translateX(0);
        min-height: 100vh;
    }

    .cat-list .cat-item .cat-link {
        font-size: 16px;
    }

    .cat-list .cat-item .cat-link span.icon-wrapper {
        width: 30px;
        height: 30px;
    }

    .main-content-wrapper .chat-header .breadcrumb-link {
        font-size: 15px;
    }

    .main-content-wrapper .chat-header .title {
        font-size: 30px;
    }

    .main-content-wrapper .chat-header {
        flex-wrap: wrap;
        padding: 0;
    }

    .main-content-wrapper .chat-header .header-title-wrapper {
        margin-bottom: 8px;
    }

    .main-content-wrapper .chat-header .header-search {
        width: 100%;
    }

    .main-content-wrapper .chat-header .header-search input[type="search"] {
        width: 100%;
    }

    .main-wrapper .sidebar-wrapper .logo-wrapper {
        padding: 20px 4px 20px 4px;
        height: 80px;
    }

    .main-wrapper .sidebar-wrapper .btn-menu-toggle {
        display: flex;
    }
    .main-wrapper .sidebar-wrapper .sidebar-menu-wrapper {
        padding: 0px 0 20px;
    }
    .tutor-main .tutor-thumb {
    display: none;
}
    .tutor-main .tutor-thumb.timeline {
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: auto;
        background: #fdfeff;
        padding: 10px calc(var(--bs-gutter-x) * .5);
        margin: 0;
        min-height: auto;
        bottom: 0;
    }
    .tutor-main.timeline-active .tutor-thumb.timeline {
    opacity: 1;
    visibility: visible;
    display: flex;
}
    .tutor-subject {
        padding-left: 0;
    }
    .main-content-wrapper .tutor-main .chat-header {
        padding-top: 0px;
    }
    .tutor-detail-wrapper {
        padding-left: 0;
    }
    .chapter-progess-wrapper {
        padding-right: 0;
    }
    .tutor-main .tutor-column.col-md-5 {
        height: 0;
        /* display: none; */
    }
    
    .tutor-main .tutor-column.col-md-7 {
        height: 100%;
    }
}

@media(max-width:520px) {
    .chat-wrapper {
        padding: 14px 0 30px;
        margin-top: 14px;
    }

    .main-wrapper .main-content-wrapper {
        padding: 20px;
    }

    .header-search {
        box-shadow: rgba(112, 144, 176, 0.12) 12px 0px 22px 5px;
    }

    .cat-list .cat-item .cat-link {
        height: 60px;
        box-shadow: 3px 17px 26px rgba(112, 144, 176, 0.15);
    }

    .cat-list .cat-item {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .cat-list .cat-item:last-child {
        margin-bottom: 0;
    }

    .authentication-page {
        padding: 0;
        background: #fff;
    }

    .authentication-page .authentication-col:first-child {
        display: none;
    }

    .authentication-inner-wrapper {
        border-radius: 0;
        padding: 20px 20px;
    }

    .input-wrapper label.error {
        font-size: 12px;
    }

    .main-wrapper .sidebar-wrapper button#sidebar-toggle {
        display: none;
    }

    .main-wrapper .sidebar-wrapper .btn-menu-toggle .bar {
        background: #fff;
    }

    .main-wrapper .sidebar-wrapper {
        width: 100%;
    }

    .authentication-anchor {
        padding: 0;
    }

    .cat-list {
        margin: 0;
    }
    .chapter-detail-wrapper {
        padding-left: 0;
    }
    .chapter-detail h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .chapter-detail h4 {
        margin-bottom: 14px;
        font-size: 20px;
    }
    
    .chapter-description {
        font-size: 14px;
        line-height: 1.7;
    }
    .authentication-anchor {
        padding: 20px 20px;
    }
    
    .authentication-anchor ul.auth-cta {
        flex-wrap: wrap;
    }
    
    .authentication-anchor ul.auth-cta li.auth-cta-item {
        margin-bottom: 20px;
    }
    .authentication-form ul.nav.nav-pills li.nav-item {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media(max-width:320px) {}

/**Media Query End*/